{% extends 'index_template.html' %}

{% block content %}

<div class="">
    <script type="text/javascript">
        function changeSelection(selected) {
            var option1 = document.getElementById("youtube");
            var option2 = document.getElementById("upload");

            if (selected === 1) {
                option1.style.display = "block";
                option2.style.display = "none";
            }
            else {
                option1.style.display = "none";
                option2.style.display = "block";
            }
        }

        function loadingSpinner() {
            var spinner = document.getElementById("spinner");
            spinner.style.display = "block";
        }

        function updateSlider(cropValue) {
            document.getElementById("tooltip").style.display = "block";
            document.getElementById("slider-value").innerHTML = cropValue + "%";
        }

        function updateFileName(path) {
            var filename = path.replace(/^.*[\\\/]/, '');

            document.getElementById("filename").innerHTML = filename;
        }


        $(document).ready(function() {
            $('#form').submit(function(e) {
                e.preventDefault();
                loadingSpinner();

                fetch($(this).attr('action'), {
                    body: new FormData(this),
                    method: $(this).attr('method')
                })
                .then(response => response.blob())
                .then(response => {
                    if (response.type === 'video/mp4'){
                        const blob = new Blob([response], {type: 'video/mp4'});
                        const downloadUrl = URL.createObjectURL(blob);
                        const a = document.createElement("a");
                        a.style.display = 'none';
                        a.href = downloadUrl;
                        a.download = "stabilized.mp4";
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a)
                    }

                    document.getElementById("spinner").style.display = "none";
                })

                return false;
            });
        });
    </script>

    <style media="screen">
        .content {
            width:100vh;
        }
    </style>
    <form  id="form" action="/upload-video" method="POST" enctype="multipart/form-data">
        <div class="content about mdl-color--white mdl-shadow--3dp mdl-card mdl-grid">
            <h5 class="mdl-card__title mdl-color-text--grey-700"><b>About</b></h5>
            <div class="mdl-card__actions mdl-color-text--grey-700 mdl-card--border">
                This is a video stabilizer that takes shaky videos and stabilizes it using a 2D feature point tracking method.
                <br>
                The YouTube option is only 360p to keep hosting costs down.
                <br>
                Here's a sample video you can use as a test:
                <a href="https://www.youtube.com/watch?v=IBvZD689QR4" target="_blank">
                    https://www.youtube.com/watch?v=IBvZD689QR4
                </a>
            </div>
        </div>
        <div class="mdl-cell"></div>
        <div class="content file-uploader mdl-color--white mdl-shadow--3dp mdl-card mdl-grid">
            <h5 class="mdl-card__title mdl-color-text--grey-700"><b>Choose a Video</b></h5>

            <div class="mdl-card__actions mdl-card--border">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="video-option-1">
                  <input type="radio" onClick="changeSelection(1)" id="video-option-1" class="mdl-radio__button" name="options" value="1" checked>
                  <span class="mdl-radio__label mdl-color-text--grey-700">YouTube</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="video-option-2">
                  <input type="radio" onClick="changeSelection(2)" id="video-option-2" class="mdl-radio__button" name="options" value="2">
                  <span class="mdl-radio__label mdl-color-text--grey-700">Upload</span>
                </label>
            </div>

            <div id="youtube" class="mdl-card__actions">
                <div class="mdl-textfield mdl-js-textfield">
                <input type="text" id="video-url" class="mdl-textfield__input" name="video-url" value=""></input>
                <label class="mdl-textfield__label mdl-color-text--grey-500" for="video-url"> YouTube URL </label>
                </div>
            </div>

            <div id="upload" class="mdl-card__actions" style="display:none">
                <div class="mdl-cell"></div>
                <Label class="input-custom-file mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
                  ADD FILE
                  <input id="file-input" onchange="updateFileName(this.value)" type="file" accept="video/mp4,video/x-m4v,video/*" name="video" style="display:none" value=""></input>
                </label>
                <label id="filename" for="file-input" class="mdl-card__supporting-text mdl-color-text--grey-700">No File Selected</label>
            </div>
        </div>
        <div class="mdl-cell"></div>
        <div class="content stable-slider mdl-color--white mdl-shadow--3dp mdl-card mdl-grid">
            <h5 class="mdl-card__title mdl-color-text--grey-700"><b> Select Cropping Percentage </b></h5>

            <div class="mdl-card__actions mdl-card--border">
                <!--<div id="tt2" class="icon material-icons">print</div>-->
                <div id="tooltip" class="mdl-tooltip mdl-tooltip--large" for="crop-slider">
                    <div id="slider-value" class="">
                        10%
                    </div>
                </div>
                <div class="mdl-layout__header-row">
                <label class="mdl-color-text--grey-700">0%</label>
                <input id="crop-slider" type="range" oninput="updateSlider(this.value)" min="0" max="60" value="10" class="mdl-slider mdl-js-slider" name="crop_percentage" id="crop_percentage">
                <label class="mdl-color-text--grey-700">60%</label>
                </div>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-500">
                    *This slider specifies how much of the video to crop out. The higher the number the more zoomed in the resulting video will look.
                    Stabilization creates black borders from the frame warping, so this is to reduce its visibility.

            </div>
        </div>
        <div class="md1-cell mdl-grid">

            <button type="submit" name="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--white">
                Stabilize!
            </button>
            <div id="spinner" class="mdl-cell" style="display:none">
                <div class="mdl-spinner mdl-js-spinner is-active"></div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
